body
{
	background: URL(../images/back.jpg);
	background-size: cover;
}
.gap
{
	width:100%;
	height:10px;
}
.innertext
{
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	padding-top: 35px !important;
}

.placeholder
{
	height: 100%;
	width: 100%;
}